.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#light{
  background-color: #fff0f3;
  color: #333333;
}

#dark {
  background-color: #373b41;
  color: #c7ccd1;
}

.switch-container {
  position: absolute;
  top: 2px;
  right: 16px;
}

.nowaifu-container {
  position: absolute;
  top: 14px;
  right: 80px;
}

.pane{
  min-width: 30% !important;
  min-height: 70%;
  border-radius: 20px;
  width: 70%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.03);
  -webkit-box-shadow: -5px -1px 4px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: -5px -1px 4px -5px rgba(0, 0, 0, 1);
  box-shadow: -5px -1px 4px -5px rgba(0, 0, 0, 1);
  margin-top: 1em;
  margin-left: 1em;
}

#light .pane{
  background-color: #ffccd5;
}
#dark .pane{
  background-color: #1D1F21;
}
